main {
    display: grid !important;
    grid-template-areas: 
        "forms"
        "spit";
}

#allpsychs {
    grid-area: 'spit';
    background-color: purple;
}
#allforms {
    grid-area: 'forms';
    background-color: green;
}