/* PSYCH PAGE */
main {
    display: grid !important;
    grid-template-areas: 
        "forms"
        "spit";
}

.formstyles #allpsychs {
    grid-area: 'spit';
    background-color: lightblue;
}
.formstyles #allforms {
    grid-area: 'forms';
    background-color: lightgreen;
}