/*
    CSS meant to encompass the entire site. INCLUDING mobile optimization
    blue        = #82c6ff = rgba(130, 198, 255, x)
    dark blue   = #4d9fd0;
    pink        = #ffa4d9 = rgba(255, 164, 217, x)
    dark pink   = 
    gray        = #656565;
    dark gray   = #454545;

*/
/*  FONTS           */
@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf")
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat Med";
    src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

/*  DEFAULT LAYOUT      */
body {
    display: grid;
    grid-template-areas:
        "headernav"
        "breadcrumb"
        "main"
        "footer";
}
#h_wrapper {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}
#headernav {
	width: 100%;
    display: grid;
    grid-template-areas: "header nav buttons";
    align-items: center;
    justify-content: stretch;
}
#_containerbuttons {
    display: grid;
    grid-template-areas: "hamburger search";
}*/

#h_wrapper {grid-area: headernav;}
#breadcrumb {grid-area: breadcrumb;}
main {grid-area: main;}
footer {grid-area: footer;} 
header {grid-area: header;}
nav {grid-area: nav;}
#_containerbuttons {grid-area: buttons;}
#searchimg {grid-area: search;}
#_hamburger {grid-area: hamburger;}

/*  GENERAL STYLES         */
html {
    height: 100vh;
    overflow-x: hidden;
}
body {
    font-family: Montserrat, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
}
main {
    background: linear-gradient(to bottom, #ffffff 40%,#dddddd 80%,#aaaaaa 100%);
    height: 100vmax;
}
footer {
    height: 15vh;
    background-color: rgba(130, 198, 255, 0.9);
    color: #fff;
    padding: 2em;
    margin: 0;
}
/*  NAVIGATION STYLES       */
#h_wrapper {
    height: 12vh;
    background-color: #efefef;
}
header {
    display: flex;
    align-items: center;
}
header img {
    float: left;
}
#headernav span a {
    font-family: "Montserrat Bold";
    color: #656565;
    text-decoration: none;
    font-size: 2em;
}
nav ul {
    font-size: 1.2em;
    font-family: "Montserrat Med";
    text-transform: uppercase;
}
nav li, nav #dropdown {
    display: inline-block;
	margin: 0 0.5vw;
}
nav a, nav #dropdown a {
	color: #656565;
	text-decoration: none;
	transition: color 0.5s, border-bottom-color 0.5s;
}
nav a:hover, nav #dropdown a:hover {
	color: #82c6ff;
	border-bottom: solid 3px #82c6ff;
}
#dropdown .dropitems a {
	color: #fff;
}
#dropdown .dropitems a:hover {
	color: #656565;
}
#_hamburger {
	display: none;
}
/*  DROPDOWN STYLES         */
.dropitems {
    display: grid;
    grid-template-areas:
        "A B C D E F";

	visibility: hidden;
    position: absolute;
    /*margin-left: -10em;*/
	background-color: rgba(244,240,236,0.0);
    z-index: 3;
    
    padding: 2em;
    max-height: 20em;
    min-width: 20em;
    opacity: 0;
    transition: opacity 0.5s;
}
.states:first-child {grid-area: A;}
.states:nth-child(2) {grid-area: B;}
.states:nth-child(3) {grid-area: C;}
.states:nth-child(4) {grid-area: D;}
.states:nth-child(5) {grid-area: E;}
.states:last-child {grid-area: F;}

.dropitems a {
	text-decoration: none;
	color: #fff;
    display: block;
    padding: 1em 1em 0 1em;
    font-size: 0.7em;
}
#dropdown:hover .dropitems {
	visibility: visible;
	background-color: #82c6ff;
    color: #fff;
    box-shadow: 2px 2px 10px #959595;
    opacity: 1.0;
}
/*  SEARCH BAR          */
._contain { /* Also applies to the hamburger */
    width: 20px;
    height: 20px;
    padding: 1em;
    border-radius: 50%;
    background-color: #ffa4d9;
    z-index: 2;
}
#searchbox {
    display: none; /*delete evventualy*/
}
#_searchimg {
	width: 100%;
}
#headernav form {
	width: 20px;
}
/*  BREADCRUMBS         */
#breadcrumb {
    background-color: rgba(130, 198, 255, 0.9);
    padding: 0.5em;
}
#breadcrumb li {
    display: inline-block;
    color: #fff;
    padding: 0 0.2em;
}
#breadcrumb .current {
    font-family: "Montserrat Med";
}
#breadcrumb .statelink {
    font-family: "Montserrat Med";
    color: #82c6ff;
    background-color: #fff;
    padding: 0 1em;
    border-radius: 50px;
}
#breadcrumb .statelink:hover {
	background-color: #ffa4d9;
	color: #fff;
}
#breadcrumb li a:not(.current) {
	border-bottom: solid 2px white;
}
#breadcrumb li a:not(.current):hover {
	border-bottom: solid 2px #4d9fd0;
}
#breadcrumb li a {
	color: #fff;
    text-decoration: none;
}
#breadcrumb li a:hover {
    color: #4d9fd0;
}
/* /* /* /* /* /* /* /* /* /* /* /*
/*         MEDIA QUERIES         /*
/* /* /* /* /* /* /* /* /* /* /* */
@media only screen and (max-width: 1024px) {
    #headernav {
    	width: 100%;
    	grid-template-columns: auto;
        grid-template-areas: 
        "header buttons"
        "nav 	nav";
    }
    #h_wrapper {
    	height: 21vh;
    }
    header {
    	margin-left: auto;
    }
    #_containerbuttons {
    	margin-left: 5em;
    }
    nav {
    	background-color: #ffa4d9;
    	margin: -1.5em 0;
    }
    nav ul {
    	text-align: center;
    }
    nav li {
    	padding: 0 1em;
    }
    nav a, nav #dropdown a {
    	color: #fff;
    }
    nav a:hover, nav #dropdown a:hover {
	color: #656565;
	border-bottom: solid 3px #656565;
}
    .dropitems {
        display: grid;
        grid-template-areas:
            "A B C D E F";
    
        visibility: hidden;
        position: absolute;
        /*margin-left: -10em;*/
        background-color: rgba(244,240,236,0.0);
        z-index: 3;
        
        padding: 2em;
        max-height: 20em;
        min-width: 20em;
        opacity: 0;
        transition: opacity 0.5s;
    }
    .dropitems {
        display: none;
        max-height: 0;
        min-width: 0;
    }
}
@media only screen and (max-width: 600px) {
    html, body {
        overflow-x: hidden;
    }
	#h_wrapper {
        margin: 0;
        height: 12vh;
	}
	#headernav {
		justify-content: stretch;
		margin-left: -3em;
	}
	#_containerbuttons {
		margin-left: auto;
	}
	#_hamburger {
		margin-right: 0.5em;
	}
	header span {
		display: none;
    }
    header {
    	margin-right: auto;
    }
    nav {
    	display: none;
    	background-color: #dedede;
    	margin: 0 -3em;
    }
	.mobiledropitem {
		display: block;
		border-bottom: solid 1px #656565;
	}
	nav ul {
		text-align: left;
		margin: 0 2.5em;
		width: 100% !important;
	}
	nav a li {
		width: 100% !important;
		padding: 0.5em 1em;
	}
	/*	HOVERABLES		*/
	nav a li:hover {
		background-color: #bebebe;
		color: #fff;
	}
	#dropdown {
		width: 100% !important;
	}
	#dropbutton {
		border-bottom: solid 1px #656565;
		border-top: solid 1px #656565;
		width: 100% !important;
		margin-left: -0.01em;
	}
    #_hamburger {
        display: inline;
    }

}