/*
    CSS meant to encompass the entire site. INCLUDING mobile optimization
    blue        = #82c6ff = rgba(130, 198, 255, x)
    dark blue   = #4d9fd0;
    pink        = #ffa4d9 = rgba(255, 164, 217, x)
    dark pink   = 
    gray        = #656565;
    dark gray   = #454545;

*/
/*  FONTS           */
@font-face {
    font-family: Montserrat;
    src: url("../assets/fonts/Montserrat/Montserrat-Regular.ttf")
}

@font-face {
    font-family: "Montserrat Bold";
    src: url("../assets/fonts/Montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "Montserrat Med";
    src: url("../assets/fonts/Montserrat/Montserrat-Medium.ttf");
}

/*  DEFAULT LAYOUT      */
body {
    display: grid;
    grid-template-areas:
        "headernav"
        "breadcrumb"
        "main"
        "footer";
}
#h_wrapper {
    display: flex;
    overflow: hidden;
    height: 8vh;
}
#headernav {
    display: grid;
    grid-template-areas: "header nav buttons";
    align-items: center;
    justify-content: stretch;
}
#_containerbuttons {
    display: grid;
    grid-template-areas: "hamburger search";
}

#h_wrapper {grid-area: headernav;}
#breadcrumb {grid-area: breadcrumb;}
main {grid-area: main;}
footer {grid-area: footer;} 
header {grid-area: header;}
nav {grid-area: nav;}
#_containerbuttons {grid-area: buttons;}
#searchimg {grid-area: search;}
#_hamburger {grid-area: hamburger;}

/*  GENERAL STYLES         */
html {
    height: 100vh;
    overflow-x: hidden;
}
body {
    font-family: Montserrat, Helvetica, sans-serif;
    overflow-x: hidden;
    margin: 0;
}
main {
    background: linear-gradient(to bottom, #ffffff 40%,#dddddd 80%,#aaaaaa 100%);
    height: 100vmax;
}
footer {
    height: 15vh;
    background-color: rgba(130, 198, 255, 0.9);
    color: #fff;
    padding: 2em;
    margin: 0;
}
/*  NAVIGATION STYLES       */
#h_wrapper {
    height: 10vh;
    background-color: #efefef;
}
header {
    display: flex;
    align-items: center;
}
header img {
    float: left;
}
#headernav span a {
    font-family: "Montserrat Bold";
    color: #656565;
    text-decoration: none;
    font-size: 2em;
}
nav ul {
    font-size: 1.2em;
    font-family: "Montserrat Med";
    text-transform: uppercase;
}
nav li, nav #dropdown {
    display: inline-block;
	margin: 0 0.5vw;
}
nav a, nav #dropdown a {
	color: #656565;
	text-decoration: none;
}
nav a:hover, nav #dropdown a:hover {
	color: #82c6ff;
	border-bottom: solid 3px #82c6ff;
}
#dropdown .dropitems a {
	color: #fff;
}
#dropdown .dropitems a:hover {
	color: #656565;
}
#_hamburger {
	display: none;
}
/*  DROPDOWN STYLES         */
.dropitems {
    display: grid;
    grid-template-areas:
        "A B C D E F";

	visibility: hidden;
    position: absolute;
    /*margin-left: -10em;*/
	background-color: rgba(244,240,236,0.0);
    z-index: 3;
    
    padding: 2em;
    max-height: 20em;
    min-width: 20em;
    opacity: 0;
    transition: opacity 0.5s;
}
.states:first-child {grid-area: A;}
.states:nth-child(2) {grid-area: B;}
.states:nth-child(3) {grid-area: C;}
.states:nth-child(4) {grid-area: D;}
.states:nth-child(5) {grid-area: E;}
.states:last-child {grid-area: F;}

.dropitems a {
	text-decoration: none;
	color: #fff;
    display: block;
    padding: 1em 1em 0 1em;
    font-size: 0.7em;
}
#dropdown:hover .dropitems {
	visibility: visible;
	background-color: #82c6ff;
    color: #fff;
    box-shadow: 2px 2px 10px #959595;
    opacity: 1.0;
}
/*  SEARCH BAR          */
._contain { /* Also applies to the hamburger */
    width: 20px;
    height: 20px;
    padding: 1em;
    border-radius: 50%;
    background-color: #ffa4d9;
    z-index: 2;
}
#searchbox {
    display: none; /*delete evventualy*/
}
#headernav form {
	width: 20px;
}
/* /* /* /* /* /* /* /* /* /* /* /*
/*         MEDIA QUERIES         /*
/* /* /* /* /* /* /* /* /* /* /* */
@media only screen and (max-width: 540px) {
    html, body {
        overflow-x: hidden;
    }
	#h_wrapper {
		height: 31vh;
		margin: 0;
	}
    #headernav {
    	height: 8vh;
        grid-template-columns: auto auto auto;
        grid-template-areas: 
            "header hamburger search"
            "nav nav nav";
    }
    #logo {
        width: 80px;
    }
    header span {display: none;}
    nav {
    	margin-left: -8vw;
    }
    ul {
    	margin-left: 0;
    	height: 20vh;
    }
    nav a li {
    	display: block;
    	padding: 0.5em 1em;
    }
    nav a li:not(.dropbutton) {
    	border-top: solid 0.25px #656565;
    	border-bottom: solid 0.25px #656565;
    }
    .dropbutton {
    	border-top: solid 0.25px #656565;
    	border-bottom: solid 0.25px #656565;
    }
    #_hamburger {
        display: inline;
    }

}